@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@300&family=Orbitron&family=Poppins:ital,wght@0,200;1,400&display=swap"); /* Tipo de letra para el menú */
/*Utilizo el extend _estilodefuente*/
/*Estilo de fuente para el Navbar*/
.my-font {
  font-family: "Orbitron", sans-serif;
  opacity: 0.6;
}
.my-font:hover { /* Sombra y transparencia al pasar el mouse por los items del menú*/
  text-shadow: black;
  opacity: 1;
}

/* Tipo de letra para el footer */
.my-font-titles {
  font-family: "Nunito Sans";
}

/*Estilo de fuente para los párrafos*/
.my-fontp {
  font-family: "Nunito", sans-serif;
}

/*Estilo de fuente para seccion "Cómo llegar" en Contacto*/
.my-font2 {
  text-decoration: none;
  list-style: none;
  padding-left: 20px;
  color: black;
  font-size: 1.3em;
}

.my-font, .my-fontp {
  color: black;
  text-decoration: none;
}

.btn-tse {
  width: 8vw;
  min-width: 80px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Defino color de fondo, posición y padding del body */
body {
  background: linear-gradient(to left, #cecedc, #cdd5e6, #d7e4e3);
  position: relative;
  min-height: 100vh;
  padding-top: 100px;
}

/*Estilos para cada artículo de la página principal*/
.articulo {
  width: 25vw;
  background-color: #FFF;
  margin: auto;
  padding: 7px;
  border: 1px solid #7f7fd5;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}
.articulo img { /*Transicion sobre las imágenes de los artículos*/
  border-radius: 10px;
  transition: transform 1s ease;
}
.articulo img:hover { /*Al pasar el mouse sobre la imagen la agranda un 10% */
  transform: scale(1.1);
}

.tarjeta {
  padding: 10px;
}

/*Defino las Media Query para mostrar un artículo debajo del otro en vista Mobile*/
@media screen and (max-width: 768px) {
  .contenedor-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
  .articulo {
    width: 80vw;
    min-width: 200px;
  }
  .wa-btn {
    bottom: 80px;
  }
}
/*Defino las Media Query para mostrar un artículo al lado del otro en vista Desktop*/
@media screen and (min-width: 769px) {
  .contenedor-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    gap: 10px;
  }
}
/* Estilos para las imágenes de la galería */
.galeria img {
  width: 100%;
  height: 35vh;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 10px;
  object-fit: cover;
}
.galeria img:hover { /* Efecto sobre cada imagen al pasar el mouse */
  border: 4px solid transparent;
  opacity: 0.6;
}

/*Estilo para el logo flotante de Whatsapp*/
.wa-logo {
  width: 70px;
  position: fixed;
  right: 10px;
  bottom: 100px;
  z-index: 150;
}

/*Dimensiones del logo de Whatsapp en sección Contacto*/
.wa-logo2 {
  width: 5vw;
  min-width: 50px;
  padding-left: 20px;
}

/*Estilos para Logo de Teamviewer y Anydesk*/
.Logo {
  min-width: 40px;
  width: 4vw;
  padding: 5px;
}

/*Estilo del Logo de la empresa para el Navbar*/
.nav-Logo {
  width: 5vw;
  min-width: 60px;
}

/*Estilos para botones */
.btn-tse {
  border: none;
}

/*Modifico el estilo para el iframe de Google Maps para lograr su comportamiento Responsive*/
.mapa {
  overflow: hidden;
  padding-bottom: 50%;
  margin-top: 1em;
  position: relative;
}
.mapa iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 90%;
  position: absolute;
  padding-left: 20px;
}

/*Media query para la Información de contacto*/
.my-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 20px;
  font-size: 1em;
  padding: 20px;
}
@media screen and (min-width: 480px) {
  .my-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.my-infowa {
  font-size: 2em;
}

.contact-map {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 40px;
}

.contacto {
  width: 40vw;
  margin: auto;
}

.contacto-img {
  width: 30vw;
  max-width: 400px;
  object-fit: cover;
}

.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Tamaño de letra para títulos */
.contact-title {
  font-size: 2.5em;
}

/*Estilo para Logo completo de la Empresa */
.contact-logo {
  width: 35vw;
  min-width: 300px;
  padding-top: 10px;
}

/*Círculo que envuelve la imagen en Contacto y en Soporte */
.contact-radius {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 4px 4px gray;
  padding: 5px;
  margin-bottom: 10px;
}

/*Dimensiones de la imagen para secciones Contacto y Soporte*/
.contact-img {
  padding-top: 20px;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Página activa - Letras en mayúsculas */
.activa {
  text-transform: uppercase;
}

/* Colores de barras y botones */
.bg-tse, .btn-tse {
  background-color: #7f7fd5;
}

/*# sourceMappingURL=styles.css.map */
