@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Orbitron&family=Poppins:ital,wght@0,200;1,400&display=swap');

@import 'base/variables';
@import 'base/fonts-styles';
@import 'base/extends';
@import 'base/mixins';
@import 'base/mapas';
@import 'components/index';
@import 'components/gallery';
@import 'components/logos';
@import 'components/contact';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Página activa - Letras en mayúsculas */

.activa {
    text-transform: uppercase;
}

/* Colores de barras y botones */

.bg-tse, .btn-tse {
    background-color: $bg-color;
}

