.mapa {
    overflow:hidden;
    padding-bottom:50%;
    margin-top: 1em;
    position:relative;
    
    & iframe{
        left:0;
        top:0;
        height:100%;
        width:90%;
        position:absolute;
        padding-left: map-get($estiloscomunes, separacion);
    
    }
}  

.my-info {
    @include flexbox(flex, column, flex-start);
    flex-wrap: wrap;
    padding-left: map-get($estiloscomunes, separacion);
    font-size: 1em;
    padding: 20px;

    @media screen and (min-width: 480px){
        @include flexbox(flex, row, space-around);
        
        
    }
}

.my-infowa {
    font-size: 2em;
}

.contact-map {
    @include flexbox(flex, column, flex-start);
    padding: 20px 40px;
}
  
.contacto {
    width: 40vw;
    margin: auto;
}

.contacto-img {
    width: 30vw;
    max-width: 400px;
    object-fit: cover;
   
}


.contact-page {
    @include flexbox(flex, column, center);
    align-items: center;
    
}

.contact-title {
    font-size: 2.5em;
}

.contact-logo {
    width: 35vw;
    min-width: 300px;
    padding-top: 10px;
        
}
    
.contact-radius {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 4px 4px gray;
    padding: 5px;
    margin-bottom: 10px;
}

    .contact-img {
        padding-top: 20px;
        width: map-get($estiloscomunes, ancho);
                
    }
    
    
    .contact-img2 {
        width: 20vw;
        max-width: 450px;
        min-width: 150px;
        
        
    }