/* Estilos para las imágenes de la galería */

.galeria img {
    width: map-get($estiloscomunes, ancho);
    height: 35vh;
    margin-right: map-get($estiloscomunes, margen);
    margin-bottom: map-get($estiloscomunes, margen);
    border: 1px solid rgb(15, 15, 118);
    object-fit: cover;

    &:hover {       /* Efecto sobre cada imagen al pasar el mouse */

        border: 4px solid transparent;
        opacity: .6;

    }
}

