/* Defino color de fondo, posición y padding del body */

body {
    background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4); 
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    
}

.articulo {
    width: 25vw;
    background-color: #FFF;
    margin: auto;
    padding: 7px;
    border: 1px solid #7f7fd5;
    border-radius: 10px;
    margin-top: 10px;

    & img {
      border-radius: 10px;

    }
  }
  
  .tarjeta {
    padding: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .contenedor-flex {
      @include flexbox(flex, column, center);
      padding: 5px;
    }
    .articulo {
      width: 80vw;
      min-width: 200px;
    }
  
    .wa-btn {
      bottom: 80px;
    }
    }
  
  @media screen and (min-width: 769px) {
  .contenedor-flex {
    @include flexbox(flex, row, center);
    padding: 5px;
    gap: 10px;
  }
}
  