/* Defino color de fondo, posición y padding del body */

body {
    background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4); 
    min-height: 100vh;
    position: relative;
    padding-top: 18vh;

}

