.wa-logo {
    width: 70px;
    position: fixed;
    right: 10px;
    bottom: 100px;
    z-index: 1500;
  }

  .wa-logo2 {
    width: 5vw;
    min-width: 50px;
    padding-left: 20px;
    
  }

/* Agrego una animación al Logo de Whatsapp para que varíe la transparencia */

.animacion {
    /* Nombre + duración */
    animation: changeLogo 4s;
    animation-iteration-count: infinite;
    
}

/* @ + Nombre de la animación */
@keyframes changeLogo {
    0% {
        opacity: .4;
    }

    15% {
        opacity: .5;
    }

    25% {

        opacity: .6;
    }

    50% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

.Logo {
    min-width: 40px;
    width: 4vw;
    padding: 5px;
}

.nav-Logo {
    width: 5vw;
    min-width: 60px;
    
}

.btn-tse{
    @extend %botones;
  }
  