/*Estilo para el logo flotante de Whatsapp*/

.wa-logo {
  width: 70px;
  position: fixed;
  right: 10px;
  bottom: 100px;
  z-index: 150;
}

/*Dimensiones del logo de Whatsapp en sección Contacto*/

.wa-logo2 {
  width: 5vw;
  min-width: 50px;
  padding-left: 20px;
    
}

/*Estilos para Logo de Teamviewer y Anydesk*/

.Logo {
  min-width: 40px;
  width: 4vw;
  padding: 5px;
}

/*Estilo del Logo de la empresa para el Navbar*/

.nav-Logo {
  width: 5vw;
  min-width: 60px;
    
}

/*Estilos para botones */

.btn-tse {
    @extend %botones;
    border: none;
  }
  
